/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

.Navigation-link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
}

.Navigation-link,
.Navigation-link:active,
.Navigation-link:visited {
  color: rgba(4, 122, 154, .9);
}

.Navigation-link:hover {
  color: rgba(4, 255, 255, 1);
}

.Navigation-link--highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(20, 50, 76, .3);
  color: #fff;
}

.Navigation-link--highlight:hover {
  background: rgba(20, 50, 76, .6);
}

.Navigation-spacer {
  color: rgba(255, 255, 255, .3);
}
