img {
  vertical-align: middle;
}

.thumbnail > img,
.thumbnail a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
	.thumbnail {
	  display: block;
	  padding: 4px;
	  margin-bottom: 20px;
	  line-height: 1.42857143;
	  background-color: #fff;
	  border: 1px solid #ddd;
	  border-radius: 4px;
	  -webkit-transition: border .2s ease-in-out;
	       -o-transition: border .2s ease-in-out;
	          transition: border .2s ease-in-out;
	}
	.thumbnail > img,
	.thumbnail a > img {
	  margin-right: auto;
	  margin-left: auto;
	}
	a.thumbnail:hover,
	a.thumbnail:focus,
	a.thumbnail.active {
	  border-color: #337ab7;
	}
	.thumbnail .caption {
	  padding: 9px;
	  color: #333;
	}
}